.bg-black {
    background-color: black;
}

mobile-main {
    display: flex;
    height: 50em;
    width: 30em;
    border: 1px solid white;
    color: rgb(255, 255, 255);

    header {
        ul {
            display: flex;
            list-style: none;
        }
    }
}