.bg-black {
  background-color: black;
}

mobile-main {
  display: flex;
  height: 50em;
  width: 30em;
  border: 1px solid white;
  color: white;
}
mobile-main header ul {
  display: flex;
  list-style: none;
}