.bg-black {
    background-color: black;
}

mobile-main {
    display: flex;
    height: 50em;
    width: 30em;
    border: 1px solid white;
    color: rgb(255, 255, 255);

    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        ul {
            padding: 0;
            height: fit-content;
            display: flex;
            list-style: none;
        }
    }
}