mobile-main {
    display: flex;
    height: 50em;
    width: 30em;
    border: 1px solid white;
    color: rgb(255, 255, 255);

    header {
        display: flex;
        margin: 0 1em;
        width: 100%;
        justify-content: space-between;
        ul {
            padding: 0;
            margin-top: 0;
            height: fit-content;
            display: flex;
            list-style: none;
        }
    }

/*     main {
        
    } */
}