body {
    background-color: black;
    mobile-main {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        height: 50em;
        width: 35em;
        border: 1px solid white;
        color: rgb(255, 255, 255);
    
        header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            ul {
                margin: 1em;
                padding: 0;
                margin-top: 0;
                height: fit-content;
                display: flex;
                list-style: none;
            }
        }
    
        main {
            display: grid;
            grid-template-columns: repeat(5, 5em);
            grid-template-rows: repeat(4, 5em);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                border-radius: 1em;
            }
        }
        footer {
            ul {
                display: flex;
                list-style: none;
                gap: 5em;
                justify-content: space-around;
            }
        }
    }
}
